---
BasedOnStyle: WebKit
IndentWidth: 2
ColumnLimit: 120
FixNamespaceComments: true
NamespaceIndentation: None
BreakBeforeBraces: Custom
AlwaysBreakTemplateDeclarations: true
Cpp11BracedListStyle: true
IndentCaseLabels: true
AccessModifierOffset: -2
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
...
