builds/

# These are CMake artifacts that need not be checked in.
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

dot/
data/
*archive/

__pycache__/
logs/
model_dir/
model/
savedmodel/
training
validation
moonhands.txt
*.save

.DS_Store
*.bbprojectd/

*.xcuserstate

*.pyc

#####
# OS X temporary files that should never be committed
.DS_Store
*.swp
*.lock
profile

####
# Objective-C/Swift specific
*.hmap
*.ipa

####
# Carthage
Carthage/Build
.python-version
