[submodule "googletest"]
	path = googletest
	url = https://github.com/njlr/googletest.git
[submodule "dlib"]
	path = dlib
	url = https://github.com/davisking/dlib.git
[submodule "websockets-cards"]
	path = websockets-cards
	url = https://github.com/jimlloyd/websockets-cards.git
